<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ADAPT</title>
    <link rel="stylesheet" href="/main.css" />
    <link type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Mono" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="Adapt" />
    <meta property="og:description"
          content="Build and launch your own decentralized network
designed from the ground up to serve the needs of your users." />
    <meta property="og:image:width" content="362" />
    <meta property="og:image:height" content="220" />

    <meta property="og:image" content="<%= protocol %>://<%= host %>:<%= port %>/adapt-logo.png" />
  </head>
  <body>
    <div id="root" style="height: 100%"></div>
    <script src="/index_bundle.js"></script>
  </body>
</html>