.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 300px;

  a{
    margin: 0 20px 40px;

    img{
      height: 40px;
    }
  }
}

@media only screen and (max-width: 768px){
  .container{
    margin-top: 100px;
  }
}