html,
body{
  height: 100%;
  padding: 0;
  margin: 0;
}

body{
  font-family: "Open Sans", sans-serif;
  //font-family: 'PT Mono', monospace;
  background-color: #FFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: scroll;
}

a{
  outline: none;
  text-decoration: none;
}

svg{
  title{
    pointer-events: none;
  }
}

input,
textarea{
  -webkit-appearance: none;
}
